// color
$color-blue:#3171e2;
$color-blue-gray:#0360b9;
$color-blue-gray-1:#0060b9;
$color-blue-light:#0173ea;
$color-gray-blue-1:#133774;
$color-dark-blue:#191b34;
$color-gray-blue-light-1:#364a69;
$color-gray-blue-light-2:#29364a;
$color-blue-2:#1f76c2;
$color-white:#ffffff;
$color-white-1:#d5d8df;
$color-white-gray:#dcdfec;
$color-gray-1:#c3c6d4;
$color-gray-2:#3c3d43;
$color-gray-3:#878787;
$color-gray-4:#57597d;
$color-gray-5:#4b4e69;
$color-gray-6:#33354b;
$color-black-1:#323338;
$color-gray-violet:#292f4c;
$color-gray-violet-1:#30324e;
$color-gray-violet-2:#32354b;
$color-gray-violet-light:#41425b;
$color-dark-violet:#1d1f3b;



//variable
body{
    //background-color
    --color-button-blue:#{$color-blue};
    --color-button-blue-hover:#{$color-blue-gray};
    --color-button-white-hover:#{$color-white-gray};
    //border-color
    --color-border-gray-1:#{$color-gray-1};
    --color-border-gray-2:#{$color-gray-3};
    --color-border-input-gray:#{$color-gray-3};
    --color-border-input-hover:#{$color-blue-light};
    --color-break-line:#{$color-gray-4};
    --color-input-text-hover:#{$color-white-gray};
    //---------------text color--------------
    --color-text-light:#{$color-white};
    --color-text-primary:#{$color-black-1};
    --color-text-secondary:#{$color-gray-3};
    --color-text-link:#{$color-blue-2};
    --color-text-dropdown-main:#{$color-white-1};
    // text theme color
    --color-text-main:#{$color-white-1};

    // --------------header color---------------------
    --header-background:#{$color-gray-violet};
    --color-background-dropdown:#{$color-gray-violet-1};
    --color-theme-active-background:#{$color-gray-blue-1};
    --color-menu-item-hover-background:#{$color-gray-blue-light-1};
    --color-menu-item-hover-background-dark:#{$color-gray-blue-light-2};
    --header-text-color:#{$color-white};
    --tooltip-bg-color:#{$color-white};
    --tooltip-text-color:#{$color-gray-3};
    // -----------body color---------------------
    --color-body-bg:#{$color-dark-violet};
    --color-body-content-bg:#{$color-gray-violet-1};
    //------dashboard content color---------------
    --color-invite-team-content-bg:#{$color-gray-6};
   
    //-----------button color-------------------
    --color-btn-bg-light:#{$color-blue-light};
    --color-btn-bg-light-hover:#{$color-blue-gray-1};
    --color-btn-none-bg-hover-color:#{$color-gray-5};
    --color-btn-filter-choice:#{$color-gray-violet-2};
    --color-btn-filter-choice-hover:#{$color-gray-violet-light};
    // ---------radio-input------------------
    --color-radio-main-bg:#{$color-gray-2};
    --color-radio-main-border:#{$color-gray-4};
    --color-radio-main-border-hover:#{$color-white};
    --color-radio-main-border-checked:#{$color-blue-light};
    //----------shadow color------------------
    --color-box-shadow-main:#{$color-dark-violet};
    --color-box-shadow-circle:#{$color-gray-3};
    --color-table-shadow:#{$color-gray-1};

    //------------modal color--------------------
    --color-modal-profile-step-bg:#{$color-dark-blue};
    --color-modal-profile-step-shadow:rgba(10, 13, 32, 0.5);
    --color-modal-button-ok-bg:#{$color-blue-light};
    --color-input-border-hover:#{$color-white-1};
    // ----------icon color ----------------------
    --color-icon-main-template-bg:#{$color-gray-violet};
    --color-icon-main-template-border:#{$color-dark-blue};
    --color-icon-main-hover-bg:#{$color-blue-light};
    // table
    --color-table-bg-main:#{$color-gray-violet-1};
    --color-row-hover-bg:#{$color-gray-6};
    --color-table-border:gray;
    // row color
    --color-table-row-border-color-main:#{$color-gray-3};
    // row dragOverlay
    --color-row-drag-bg:#{$color-white};
    --color-text-drag:#{$color-gray-violet};
    --color-row-border-drag:#{$color-gray-blue-1};
    --color-bg-headerTitle-dragging:#{$color-gray-blue-light-1};
    }

//font-weight

$fontWeight: ("lighter":100, "light":300, "normal":400, "semibold":500, "bold":700, "bolder":800);

@each $key,$value in $fontWeight {
    .fw-#{$key}{
        font-weight: $value;
    }
}

$fw-lighter:100;
$fw-light:300;
$fw-normal:400;
$fw-semibold:500;
$fw-bold:700;
$fw-bolder:800;

// font-size

$fs:("1":14px,"2":16px,"3":18px,"4":20px,"5":24px,"6":30px);

@each $key,$value in $fs{
    .fs-#{$key}{
        font-size:#{$value};
    }
}

$fs-1:14px;
$fs-2:16px;
$fs-3:18px;
$fs-4:20px;
$fs-5:24px;
$fs-6:30px;

@mixin textStyle($fs:16px,$fw:500,$color:#{var(--color-text-primary)}){
    font-size: $fs;
    font-weight: $fw;
    color:$color;
}

@mixin borderStyle($color:#{var(--color-text-primary)},$stroke:1px,$radius:'5px'){
    border: #{$stroke} solid #{$color};
    border-radius: $radius;
}


