.rotate-90-deg{
    transform: rotate(-180deg);
    transition: all 0.5s;
}


//grow in animation
@keyframes grow-in{
    0% {width: 0%;}
    50% {width: 50%;}
    100% {width: 100%;}
}

.grow-in{
    animation-name: grow-in;
    animation-timing-function: linear;
    animation-duration: .5s;
    animation-fill-mode: backwards;
}

@keyframes scale-in{
    0% {transform: scaleX(0%);}
    100% {transform: scaleX(100%);}
}

.scale-in{
    animation-name: scale-in;
    animation-duration: .5s;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
}

@keyframes text-fade-in{
    0%{color: transparent;}
    25%{color: transparent;}
    50%{color: transparent;}
    90%{color: transparent;}
    100%{color: white;}
}
.text-fade-in{
    animation: text-fade-in;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    
}

//flicker animation
@keyframes flicker{
    from{
        filter: opacity(0);
        opacity: 0;
    }
    to{
        filter: opacity(1);
        opacity: 1;
    }
}

.flicker{
    animation: flicker;

}

// outline circle rotate animation
.spinner-with-shadow{
    z-index: 1;
    position: relative;
    box-shadow: 0px 0px 0px 5px var(--color-box-shadow-circle);
    animation: shadow-bounce;
    animation-duration: .8s;
    &::before{
        content: '';
        display: block;
        width: 116%;
        height: 116%;
        position: absolute;
        border-radius: 50%;
        border: 3px solid transparent;
        border-left-color: transparent;
        z-index: -1;
        animation: rotate-180-deg;
        animation-duration: .8s;
        animation-fill-mode: backwards;
    }
}


@keyframes shadow-bounce{
    from{
        box-shadow: 0px 0px 0px 5px var(--color-box-shadow-circle);
    }
    to{
        box-shadow: 0px 0px 0px 3px var(--color-box-shadow-circle);
    }
}

@keyframes rotate-180-deg{
    from{
        transform: rotate(0);
        border-left-color: var(--color-text-dropdown-main);
    }
    to{
        transform: rotate(300deg);
        border-left-color: var(--color-text-dropdown-main);
    }
}

.outline-circle-spin-animation{
    animation: outline-circle-spin;
    animation-duration: 1s;
}







