// custom input radio main 
.radio-input-main{
    span{
        background-color: var(--color-radio-main-bg);
        border: 2px solid var(--color-radio-main-border);
        transition: all .3s;
    }
    &:hover span{
        border: 2px solid var(--color-radio-main-border-hover);
    }

    input:checked~span{
        border: 3.5px solid var(--color-radio-main-border-checked);
    }
}

.adaptiveInput{
    input{
        display: none;
        background-color: transparent;
        outline: none;
        &::placeholder{
            opacity: .5;
            font-size: 14px;
        }
        &:focus{
            cursor: text;
        }
    }
    .filter{
        display: none;
    }
}
.adaptiveInput.active{
    border:1px solid var(--color-border-input-hover);
    .title{
        display: none;
    }
    input{
        display: block;
        
    }
    .filter{
        display: block;
    }
    &:hover{
        background-color: transparent;
    }
}

//input item select in create table view
