// select main
.main-select-popup.ant-select-dropdown{
    background-color: var(--color-background-dropdown);
    box-shadow: 0px 4px 15px -3px rgba(0,0,0,0.75);
    .ant-select-item.ant-select-item-option{
        color:var(--color-text-dropdown-main);
        &:hover{
            background-color: var(--color-menu-item-hover-background);
        }
    }
    .ant-select-item.ant-select-item-option[aria-selected="true"]{
        background-color: var(--color-theme-active-background)
    }

}
.main-select.ant-select{
    .ant-select-selector{
        margin-right: 10px;
        background-color: transparent;
        .ant-select-selection-search{
            .ant-select-selection-search-input{
                border: none !important;
                padding: 0 !important;
                color:var(--color-text-dropdown-main);
            }
        }
        .ant-select-selection-item{
            color: var(--color-text-dropdown-main);
        }
    }
    .ant-select-arrow{
        color:var(--color-text-dropdown-main);
    }
    
}
.main-select-item-choice{
    display: flex;
    align-items: center;
    font-weight: 200 !important;
    .title{
        margin-left: 5px;
    }
}


//tooltip antd custom
.ant-tooltip{
    .ant-tooltip-arrow::before{
        background-color: var(--tooltip-bg-color);
    }
    .ant-tooltip-content{
        width: fit-content;
        .ant-tooltip-inner{
            padding: 5px 15px;
            background-color: var(--tooltip-bg-color);
            color: var(--tooltip-text-color);
        }
    }
}

//modal
.ant-modal-root{
    .ant-modal-mask{
        background-color: rgba(41, 47, 76, 0.7);
    }
}
//modal profile-step
.ant-modal-wrap.profile-step-modal{
    .ant-modal{
        width: fit-content !important;
        .ant-modal-content{
            // width: fit-content !important;
            min-width: 550px;
            background-color: transparent;
            padding: 0;
            .ant-modal-close{
                position: absolute;
                top: -15px;
                right: -10px;
            }
            .ant-modal-body{
                background-color: var(--color-modal-profile-step-bg);
                box-shadow: 0 10px 35px -3px var(--color-modal-profile-step-shadow);
                color: var(--color-text-main);
                span.gray-text{
                    color:var(--color-text-secondary);
                }
                //custom input style
                input{
                    border-color: $color-gray-3;
                    &:focus{
                        border-color: $color-blue-light !important;
                    }
                    &:hover{
                        border-color: var(--color-input-border-hover);
                    }
                }
            }
        }
    }
}
//image crop modal
.ant-modal-wrap.img-crop-modal{
    .ant-modal{
        .ant-modal-content{
            box-shadow: 0px 5px 25px 0px var(--color-modal-profile-step-shadow);
            background-color: var(--color-modal-profile-step-bg);
            button.ant-modal-close{
                color: var(--color-text-main) !important;
                transform: translateX(10px) translateY(-10px);
            }
            .ant-modal-header{
                background-color: var(--color-modal-profile-step-bg);
                .ant-modal-title{
                    color: var(--color-text-main) !important;
                }
            }
            .ant-modal-body{
                    color: var(--color-text-main) !important;
                    .ant-slider-track{
                        background-color: rgb(121, 235, 235);
                        z-index: 2;
                    }
                    .ant-slider-step{
                        background-color: var(--color-text-main) !important;
                    }
                    .ant-slider-handle{
                        z-index: 3;
                    }
            }
            .ant-modal-footer{
                button.ant-btn-default{
                    background-color: transparent;
                    color: var(--color-text-main);
                    &:hover{
                        color: var(--color-modal-button-ok-bg);
                    }
                }
                button.ant-btn-primary{
                    background-color: var(--color-modal-button-ok-bg);
                    &:hover{
                        filter: brightness(.8);
                    }
                }

            }
        }
    }
}

// custom template center modal
.ant-modal-wrap.template_center_modal{
    overflow: hidden;
    display: flex;
    justify-content: center;

    .ant-modal{
        display: block;
        min-width: 95%;
        height: 95%;
        margin-top: 2%;
        background-color: var(--color-modal-profile-step-bg);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0px 5px 25px 0px var(--color-modal-profile-step-shadow);
        .ant-modal-content{
            padding: 0;
            display: block;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            .ant-modal-close{
                color: var(--color-text-main);

            }
            .ant-modal-body{
                background-color: var(--color-modal-profile-step-bg);
                height: 100%;
                width: 100%;
                border-top-left-radius: 19px;
                border-top-right-radius: 19px;
                color:var(--color-text-main);
                // header
                // custom input text
                .template-header{
                    padding: 15px 25px;
                    border-bottom: 1px solid var(--color-break-line);
                    .input-search-template{
                        input{
                            backdrop-filter: brightness(135%);
                            &:hover{
                                border-color: var(--color-input-text-hover) !important;
                            }
                        }
                    }
                }
                .template-body-content{
                    .template-center-link-container{
                        overflow-y: scroll;
                        .template_group_container{
                            padding: 20px 0 ;
                            border-bottom: 1px solid var(--color-break-line);
                        }
                        .template_link_item{
                            display: block;
                            width: 100%;
                            padding: 5px 5px;
                            margin: 2px 0;
                            border-radius: 4px;
                            background-color: transparent;
                            color:var(--color-text-main);
                            &:hover{
                                color: var(--color-text-main);
                                background-color: var(--color-menu-item-hover-background);
                            }
                        }
                        .template_link_item.active{
                            background-color: var(--color-theme-active-background);
                        }
                    }
                    
                }

            }
        }
    }
}

// dropdown custom

.ant-dropdown.main-dropdown{
    .ant-dropdown-menu{
        background-color: var(--color-background-dropdown);
        box-shadow: 0px 0px 30px -5px rgba(0,0,0,.6);
        padding: 10px 0;
        min-width: 300px;
        .ant-dropdown-menu-item{
            padding: 0px;
            margin: 0;
            &:hover{
                background-color: transparent;
            }
            .ant-dropdown-menu-title-content{
               .dropdown-content{
                padding: 5px 10px;
                color:var(--color-text-main);
                // item active
                .workspace-item{
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 10px;
                    border-radius: 4px;
                    margin-bottom: 4px;
                    &:hover{
                        background-color: var(--color-menu-item-hover-background);
                    }
                }
                .workspace-item.active{
                    background-color: var(--color-theme-active-background);
                    
                }
               }
            //    custom input
               input{
                background-color: transparent;
                border: 1px solid var(--color-border-input-gray);
                border-radius: 3px;
                padding: 4px 10px;
                outline: none;
                &:focus:hover{
                    border-color: var(--color-border-gray-1);
                }
                &:focus{
                    border-color: var(--color-border-input-hover);
                }
               }
                
            }
        }
    }
}



