*{
    // font
    font-family:'poppins', 'Roboto', sans-serif;
    box-sizing: border-box;
}



// button
.button-submit{
    font-size: $fs-3;
    color:var(--color-text-light);
    background-color: var(--color-button-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $fw-light;
    padding: 7px 20px 7px 18px;
    border-radius: 5px;
    transition: all .5s;
    &:hover{
        background-color:var(--color-button-blue-hover);
    }
}

.button-transparent{
    font-size: $fs-3;
    color:var(--color-text-secondary);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $fw-light;
    padding: 7px 20px 7px 18px;
    border-radius: 5px;
    transition: all .5s;
    &:hover{
        background-color:var(--color-button-white-hover);
    }
}

//radio answer custom

.radio{
    text-transform: capitalize;
    position: relative;
    font-size: 16px;
    color: var(--color-text-secondary);
    font-weight: 300;
}

.radio span{
    display: inline-block;
    padding: 6px;
    border: 1px solid var(--color-border-gray-1);
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 9px;
}

.radio span::after{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 0px solid var(--color-button-blue);
    left: 0;
    top: 0;
    position: absolute;
    transition: 300ms ease-in 0s;

}

//custom column select checked item
.select-item div{
    border: 2px solid transparent;
    bottom: -50%;
    left: -10%;
    border-color: rgb(226, 226, 226);
    transition: all .3s;
}
.select-item input:checked~div{
    border-color: #459bf7;
}

.radio input[type="radio"]:checked ~ span::after{
    border-width: 3px;
}

.select-item:hover div{
    background-color: rgb(226, 226, 226);
}


//custom column table class
.table-panel{
    box-shadow: 1px 4px 51px 4px rgba(42,152,229,0.57);
}
.table{
    border: 1px solid #aaaaaa;
    border-left:none;
}

.column{
    height: 100%;
    min-width:20px;
    width: 30%;
    max-width: 100%;
    border: 1px solid #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column-left{
    
}

.row{
    height: 35px;
}
.column-sm{
    // min-width: 130px;
}
.row-sm{
    font-size: 15px;
    height: 38px;
    min-width: 120px;
    width: 100%;
    border: 1px solid #aaaaaa;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    justify-items: stretch;
    // word-wrap: normal;
    flex-grow: 2;
    white-space: nowrap;
}

// tạo hình tam giác 
.arrow-right {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid gray;
}

//custom column style
.line-vertical-through::after{
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 1px;
    right:170px;
    background-color: #459bf7;
    top: 0;
}

.line-vertical-through::before{
    content: '';
    width: 4px;
    height: 4px;
    background-color: #459bf7;
    position: absolute;
    right: 168px;
    top:0;
}
