*{
    // font
    font-family:'poppins', 'Roboto', sans-serif;
    box-sizing: border-box;
}

//----------text style----------------------------
.text-function-describer{
    display: inline-block;
    padding: 0px 5px;
    border:1px solid var(--color-text-main);
    border-radius: 3px;
}

.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
// text color
.text-dropdown-main{
    color:var(--color-text-dropdown-main)
}

.color-text-main{
    color:var(--color-text-main);
}




// -------------------button----------------------
.button-submit{
    font-size: $fs-3;
    color:var(--color-text-light);
    background-color: var(--color-button-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $fw-light;
    padding: 7px 20px 7px 18px;
    border-radius: 5px;
    transition: all .5s;
    &:hover{
        background-color:var(--color-button-blue-hover);
    }
}

.button-transparent{
    font-size: $fs-3;
    color:var(--color-text-secondary);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $fw-light;
    padding: 7px 20px 7px 18px;
    border-radius: 5px;
    transition: all .5s;
    &:hover{
        background-color:var(--color-button-white-hover);
    }
}

.button-none-bg{
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    &:hover{
        background-color: var(--color-btn-none-bg-hover-color);
    }
}

.button-main{
    background-color: var(--color-btn-bg-light);
    padding: 5px 10px;
    border-radius: 5px;
    &:hover{
        background-color: var(--color-btn-bg-light-hover);
    }
}

.button-light{
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 5px;
    border-color: var(--color-border-gray-2);
    cursor: pointer;
    &:hover{
        background-color: var(--color-menu-item-hover-background);
    }
}

.button-light-parent{
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    .light-child{
        padding: 5px 5px;
        border-radius: 0px 5px 5px 0px;
    }
    .dark-child{
        padding: 5px 10px;
        border-radius: 5px 0px 0px 5px;
    }
    &:hover{
        .light-child{
            background-color: var(--color-menu-item-hover-background);
        }
        .dark-child{
            background-color: var(--color-menu-item-hover-background-dark);
        }
        .light-child:hover{
            backdrop-filter: brightness(1.5) !important;
        }
    }

}
// --------- views button---------
// filter button
 .button-filter-choice{
    padding: 5px 13px;
    border-radius: 5px;
    margin: 5px 0px;
    background-color: var(--color-btn-filter-choice);
    &:hover{
        background-color: var(--color-btn-filter-choice-hover);
    }
 }

//radio answer custom

.radio{
    text-transform: capitalize;
    position: relative;
    font-size: 16px;
    color: var(--color-text-secondary);
    font-weight: 300;
}

.radio span{
    display: inline-block;
    padding: 6px;
    border: 1px solid var(--color-border-gray-1);
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 9px;
}

.radio span::after{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 0px solid var(--color-button-blue);
    left: 0;
    top: 0;
    position: absolute;
    transition: 300ms ease-in 0s;

}

//custom column select checked item
.item-select:hover{
    cursor: pointer;
    .select-item{
        background-color: transparent;
    }
    div{
        background-color: rgb(226, 226, 226);
    }
}

.item-select{
    .select-item:hover{
        background-color: transparent !important;
    }
}

.select-item div{
    border: 2px solid transparent;
    bottom: -50%;
    left: -10%;
    border-color: rgb(226, 226, 226);
    transition: all .3s;
}
.select-item input:checked~div{
    border-color: #459bf7;
}

.radio input[type="radio"]:checked ~ span::after{
    border-width: 3px;
}

.select-item:hover div{
    background-color: rgb(226, 226, 226);
}


//custom column table class
.table-panel{
    box-shadow: 1px 4px 51px 4px rgba(42,152,229,0.57);
}
.table{
    border: 1px solid #aaaaaa;
    border-left:none;
}

.column{
    height: 100%;
    min-width:20px;
    width: 30%;
    max-width: 100%;
    border: 1px solid #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

// vertical line

.vertical-line{
    height: 1px;
    width: 100%;
    background-color: rgb(161, 161, 161);
}

.row{
    height: 35px;
}
.column-sm{
    // min-width: 130px;
}
.row-sm{
    font-size: 15px;
    height: 38px;
    min-width: 120px;
    width: 100%;
    border: 1px solid #aaaaaa;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    justify-items: stretch;
    // word-wrap: normal;
    flex-grow: 2;
    white-space: nowrap;
}

// tạo hình tam giác 
.arrow-right {
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid gray;
}
// user-avatar-circle
.avatar-circle{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 22px;
    font-weight: 600;
    object-fit: contain;
    color: white;
    img{
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
}

//custom column style
.line-vertical-through::after{
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 1px;
    right:170px;
    background-color: #459bf7;
    top: 0;
}

.line-vertical-through::before{
    content: '';
    width: 4px;
    height: 4px;
    background-color: #459bf7;
    position: absolute;
    right: 168px;
    top:0;
}

//custom icon see plan

#button-see-plan:hover #icon-see-plan{
    fill: white
}

//------------------default item-------------------------
.select-item{
    &:hover{
        background-color: var(--color-menu-item-hover-background) !important;
    }
}

.break-line-bottom{
    border-bottom: 1px solid var(--color-break-line);
}



//--------------------box-shadow--------------------
.box-shadow-item-main{
    box-shadow: 3px 10px 25px -3px var(--color-box-shadow-main);
}

.box-shadow-item-main-hover{
    &:hover{
        box-shadow: 3px 10px 25px -3px var(--color-box-shadow-main);
    }
}

.shadow-circle-in-hover{
    &:hover{
        box-shadow: 0 0 0px 5px  var(--color-box-shadow-circle);
    }
}

// custom scroll bar

/* Style the entire scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

/* Style the scrollbar thumb (draggable handle) */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

/* Style the scrollbar track (background) */
.custom-scrollbar::-webkit-scrollbar-track {
    background-color: var(--color-body-bg);
}

// custom scroll bar transparent bg

/* Style the entire scrollbar */
.custom-scrollbar-transparent::-webkit-scrollbar {
    width: 5px;
}

/* Style the scrollbar thumb (draggable handle) */
.custom-scrollbar-transparent::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
    opacity: 0.5;
}

/* Style the scrollbar track (background) */
.custom-scrollbar-transparent::-webkit-scrollbar-track {
    background-color: transparent;
}

// custom scrollbar clear
/* Style the entire scrollbar */
.clear-scrollbar::-webkit-scrollbar {
    width: 5px;
}

/* Style the scrollbar thumb (draggable handle) */
.clear-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    // border-radius: 5px;
}

/* Style the scrollbar track (background) */
.clear-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
}


// sticky-left item
.sticky-left{
    position: sticky !important;
    left: 0;
    top: 0;
    z-index: 5;
}

// lớp định nghĩa căn giữa cho nội dung
.contentCenterContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}